@media only screen and (min-width: 1400px) {
    .ingameControlsWrapper {
        display: none;
    }
}

@media only screen and (max-width: 1399px) {
    .instrSpaceKey {
        content: url('../img/buttons/key/attack.png');
    }

    #ingameSettingsWrapper {
        height: auto;
        padding-top: 8px;
    }

    #ingameSettingsWrapper button img {
        width: 18px;
        height: 18px;
    }

    .mobileCenter {
        justify-content: center !important;
    }
}

.ingameControlsWrapper {
    padding: 8px 12px;
}

.keyRow {
    padding-top: 6px;
}

.xAndSpaceRow {
    padding: 6px 40px;
}

.ingameControlsWrapper button {
    opacity: 0.68;
    transition: 75ms;
}

.ingameControlsWrapper button img {
    display: block;
    height: 48px;
}

.keyRow {
    display: flex;
    justify-content: space-between;
}

.keyRow div {
    display: flex;
}

#ingameDOWN {
    transform: rotate(180deg);
}

#ingameLEFT {
    transform: rotate(-90deg);
}

#ingameRIGHT {
    transform: rotate(90deg);
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
    .showOnPortrait {
        display: initial;
    }

    .hideOnPortrait {
        display: none;
    }

    .turnDeviceMsg {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: var(--mainShadow);
        width: 100%;
        height: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        text-shadow: var(--textShadow);
        backdrop-filter: blur(3px);
    }

    .turnDeviceMsg img {
        padding-top: 16px;
        width: 88px;
    }

    .hideOnPortrait {
        display: none !important;
    }
}

@media only screen and (max-width: 720px) {
    :root {
        --canvasHeightResponsive: calc(100vw * 2 / 3);
    }

    #gameWrapper {
        width: 100vw;
        height: var(--canvasHeightResponsive);
    }

    canvas,
    #overlay {
        width: 100%;
        height: 100%;
    }

    .overlayBg {
        background-size: 140%;
    }
}

@media only screen and (max-height: 640px) {
    #title {
        position: fixed;
        top: calc((100vh - var(--canvasHeightResponsive)) / 2 + var(--canvasHeightResponsive) / 12);
        z-index: 2;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #pageWrapper {
        padding: 0;
        position: relative;
    }

    h1 {
        height: 64px;
        font-size: 64px;
        width: 200px;
    }

    h1:hover {
        font-size: 67px;
    }

    footer {
        position: absolute;
        font-size: 12px;
    }
}

@media only screen and (max-height: 480px) {
    #gameWrapper {
        max-width: 150vh;
    }

    #title {
        top: 5vh;
    }

    .turnDeviceMsg {
        flex-direction: row;
        gap: 24px;
    }

    .menuBtn {
        font-size: 32px;
    }

    .menuPageWrapper {
        max-width: 100%;
    }

    .ingameControlsWrapper {
        padding: 24px 48px;
    }

    .ingameControlsWrapper button img {
        height: 40px;
    }

    #ingameSettingsWrapper button img {
        width: 16px;
        height: 16px;
    }
}

@media only screen and (max-width: 640px),
(max-height: 480px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    #gameWrapper {
        height: var(--canvasHeightResponsive);
        max-height: 100vh;
    }

    canvas,
    #overlay {
        width: 100%;
        height: 100%;
    }

    .close {
        font-size: 32px;
        border-radius: 50%;
        padding-top: 3px;
        width: 32px;
        height: 32px;
        margin-bottom: 6px;
    }

    .menuPageWrapper {
        padding: 12px;
        max-height: 100%;
    }

    .instructions {
        font-size: 20px;
    }

    .attacks {
        font-size: 14px;
    }

    #instrArrowKeys {
        height: 80px;
    }

    #instrSpaceKey {
        height: 34px;
        padding-top: 4px;
    }

    #jellyfishWarning {
        width: 72px;
    }

    .toxicBubbleKeys {
        height: 24px;
    }

    .settings {
        font-size: 32px;
    }

    .settings td:nth-child(1) {
        padding-right: 96px;
    }

    .settings button {
        font-size: 32px;
        height: 40px;
    }

    #endscreen {
        font-size: 64px;
    }
}

@media only screen and (max-width: 480px) {
    .instructions {
        font-size: 16px;
    }

    .attacks {
        font-size: 12px;
    }

    .ingameControlsWrapper button img {
        height: 36px;
    }
}