:root {
    --mainShadow: 1px 2px 8px 4px rgb(51, 255, 255, 0.3);
    --canvasRadius: 16px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./img/underwater-7492390.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pageWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameWrapper {
    position: relative;
}

canvas {
    border-radius: var(--canvasRadius);
    box-shadow: var(--mainShadow);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: var(--canvasRadius); 
    background: url(./img/startscreen.png);
    background-size: 1000px;
    animation-name: moveBg;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@keyframes moveBg {
    0% {
        background-position-x: 50%;
        background-position-y: 40%;
    }
    25% {
        background-position-x: 30%;
        background-position-y: 50%;
    }
    50% {
        background-position-x: 50%;
        background-position-y: 60%;
    }
    75% {
        background-position-x: 70%;
        background-position-y: 50%;
    }
    100% {
        background-position-x: 50%;
        background-position-y: 40%;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: end;
}

#loadingWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px;
}

#loadingBarBg {
    background: url('./img/marks/green/loading_bar/loadingBar_Bg.png');
    border-radius: 8px;
    border: 1px solid white;
    width: 100%;
    height: 15px;
    overflow: hidden;
}

#loadingBar {
    background: url('./img/marks/green/loading_bar/loadingBar.png');
    background-size: auto 15px;
    border-radius: 8px;
    border-right: 1px solid white;
    box-sizing: border-box;
    height: 100%;
}